{% load static %}
<!DOCTYPE html>

<html>
	<head>
		<meta charset = "utf-8" name = "viewport" content = "width = device-width, initial-scale = 1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'cssQ.css' %}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<title>adeliaut</title>
	</head>
	
	<body>
		<div class ="bg"></div>
		
		<header>
			{% block content %} {% endblock %}
		</header>
			{% include 'navbar.html' %}
		
		<div class = "wrapper-1">
			<article class = "about-me" align = "justify">
				<h2><b>About Me</b></h2>
				<p>Hello World! My name is Adelia Utami, known as Adel, currently studying as a System Information student in University of Indonesia. I love to spend my time with my family and create delightful moments with them. I like to keep things clean and neat. I am a cheerful, loyal, and trustworthy person.</p>
			</article>
			<img class = "img-about-me img-fluid"src="https://lh3.google.com/u/0/d/115F6EKdxLXEjZX5yI_mF0xYc_BSHmVir=w1920-h534-iv1"; width = 330px; height = 330px>
		</div>
		
		<div class = "gap"><br><br></div>
		
		<div class="table-responsive wrapper-2">
			<h2 class = "gap"><b>Education</b></h2>
			<table class="table table-borderless">
				<tbody>
						<tr>
							<th scope="row"></th>
							<td><img class = "img-fluid center-block" src = "https://lh3.google.com/u/0/d/1S1IDDGLx_2XGOynAZt8OKYlu3aG9QFkF=w1087-h891-iv1"; width = 150px; height = 150px></td>
							<td><img class = "img-fluid center-block" src = "https://lh3.google.com/u/0/d/1vybDeBZZPWsB1w6vgshxppiXrEse0BzF=w1087-h891-iv1"; width = 165px; height = 165px></td>
							<td><img class = "img-fluid center-block" src = "https://lh3.google.com/u/0/d/1pSIGK5qdEpdfpjJtN_0IFEc-j0b58cOs=w1087-h891-iv1"; width = 150px; height = 150px></td>  
							<td><img class = "img-fluid center-block" src = "https://lh3.google.com/u/0/d/13L_5qsDG86DntEX8i4AUP9snLRyyQY4i=w1087-h891-iv1"; width = 150px; height = 150px></td>
						</tr>
						
						<tr>
						  <th scope="row"></th>
						  <td class="text-center"><h4><b>2017 - now</b></h4></td>
						  <td class="text-center"><h4><b>2014 - 2017</b></h4></td>
						  <td class="text-center"><h4><b>2011 - 2014</b></h4></td>
						  <td class="text-center"><h4><b>2005 - 2011</b></h4></td>
						</tr>
						
						<tr>
						  <th scope="row"></th>
						  <td class="text-center"><h4>Universitas Indonesia</h4></td>
						  <td class="text-center"><h4>SMAN 1 Tambun Selatan</h4></td>
						  <td class="text-center"><h4>SMPN 5 Tambun Selatan</h4></td>
						  <td class="text-center"><h4>SD Jaya Suti Abadi</h4></td>
						</tr>
				</tbody>
			</table>
		</div>
		
	</body>
</html>