{% load static %}
<!DOCTYPE html>

<html>
	<head>
		<meta charset = "utf-8" name = "viewport" content = "width = device-width, initial-scale = 1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'cssQ.css' %}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<title>adeliaut</title>
	</head>
	
	<body>
		<div class ="bg"></div>

		<header>
			{% block content %} {% endblock %}
		</header>
			{% include 'navbar.html' %}

		<div class="table-responsive wrapper-2">
			<h2 class = "gap"><b>Contact</b></h2>
			<table class="table table-borderless">
				<tbody>
					<tr>
						<th scope="row"></th>
						<td><img class = "img-fluid" src = "https://lh3.google.com/u/0/d/1zZQu1SCk6-8ExAZpjBb18B-qqzW_k0Og=w1920-h915-iv1" width = 80px; height = 80px></td>
						<td class="text-left"><h4 style="font-size:2vw;"><a href ="mailto:adeliaut21@gmail.com">adeliaut21@gmail.com</a></h4></td>						
					</tr>
									
					<tr>
						<th scope="row"></th>
						<td><img class = "img-fluid" src = "https://lh3.google.com/u/0/d/1LtKJzX8WPRgK7mxU5ytA-29AezribhCq=w1920-h915-iv1" width = 80px; height = 80px></td>					  
						<td class="text-left"><h4 style="font-size:2vw;"><a href = "https://twitter.com/adeliaut">adeliaut</a></h4></td>
					</tr>
									
					<tr>
					  <th scope="row"></th>
						<td><img class = "img-fluid" src = "https://lh3.google.com/u/0/d/1Kp9m9oJ8slL8Rh43Xp3WBjqHqKD3uCc_=w1087-h915-iv1" width = 80px; height = 80px></td>					 
						<td class="text-left"><h4 style="font-size:2vw;"><a href = "https://www.instagram.com/adeliaut/">adeliaut</a></h4></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class = "wrapper-1">
			<img class = "img-contact img-fluid"src="https://lh3.google.com/u/0/d/1Sx_7MO9NKNoKvc-6gY5eA5MFh7HfmfFs=w2000-h3270-iv1"; width = 330px; height = 330px>
			
			<article class = "contact" align = "right">
				<h1><b>Thank you for visiting my website!</b></h1>
				<h3>I wish you a lucky and pleasant day☺</h3>
			</article>
		</div>
	
	</body>
</html>