{% load static %}
<!DOCTYPE html>

<html>
	<head>
		<meta charset = "utf-8" name = "viewport" content = "width = device-width, initial-scale = 1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'cssQ.css' %}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<title>adeliaut</title>
	</head>
	
	<body>
		<div class ="bg"></div>
		
		<header>
			{% block content %} {% endblock %}
		</header>
			{% include 'navbar.html' %}
		
		<div class="table-responsive wrapper-2">
			<h2 class = "gap"><b>Experience</b></h2>
			<table class="table table-borderless">
				<tbody>
					<tr>
					  <th scope="row"></th>
					  <td class="text-left"><h4 style="font-size:2vw;">Bonlap English Club<br><b>(2014 - 2017)</b></h4></td>
					  <td class="text-left"><h4 style="font-size:2vw;">As a general active member</h4></td>
					</tr>
									
					<tr>
					  <th scope="row"></th>
					  <td class="text-left"><h4 style="font-size:2vw;">MnG Bonlap English Club<br><b>(2016)</b></h4></td>
					  <td class="text-left"><h4 style="font-size:2vw;">As a vice project officer</h4></td>
					</tr>
									
					<tr>
					  <th scope="row"></th>
					  <td class="text-left"><h4 style="font-size:2vw;">BEM Fasilkom UI 2018<br><b>(2017 - now)</b></h4></td>
					  <td class="text-left"><h4 style="font-size:2vw;">As a secretariat division member</h4></td>
					</tr>
									
					<tr>
					  <th scope="row"></th>
					  <td class="text-left"><h4 style="font-size:2vw;">FUKI Fasilkom UI 2018<br><b>(2017 - now)</b></h4></td>
					  <td class="text-left"><h4 style="font-size:2vw;">As a syiar departement member</h4></td>
					</tr>
									
					<tr>
					  <th scope="row"></th>
					  <td class="text-left"><h4 style="font-size:2vw;">PMB Fasilkom UI 2018<br><b>(2018)</b></h4></td>
					  <td class="text-left"><h4 style="font-size:2vw;">As an academic staff</h4></td>
					</tr>		
					
					<tr>
					  <th scope="row"></th>
					  <td class="text-left"><h4 style="font-size:2vw;">SIWAK NG 2018<br><b>(2018)</b></h4></td>
					  <td class="text-left"><h4 style="font-size:2vw;">As a person in charge of consumption</h4></td>
					</tr>	
				</tbody>
			</table>
		</div>
		
		<div class="table-responsive wrapper-2">
			<h2 class = "gap"><b>Skill</b></h2>
			<table class="table table-borderless">
				<thead></thead>
				<tbody>
					<tr>
						<th scope="row"></th>
						<td><img class = "img-fluid" src = "https://lh3.google.com/u/0/d/1cS9CXUMe5xQ3ZO-sUDZeT09QY5cD0kax=w970-h885-iv1"></td>
						<td class="text-left"><h4 style="font-size:2vw;">As a general active member</h4></td>
					</tr>
									
					<tr>
						<th scope="row"></th>
						<td><img class = "img-fluid" src = "https://lh3.google.com/u/0/d/11t1kpXxUBsJKOeovIaQirZiqggmNQZIp=w970-h885-iv1"></td>					  
						<td class="text-left"><h4 style="font-size:2vw;">As a vice project officer</h4></td>
					</tr>
									
					<tr>
					  <th scope="row"></th>
						<td><img class = "img-fluid" src = "https://lh3.google.com/u/0/d/1PSi9Bdot9PY1IB4VMoLjjwqNoPvB_IKI=w970-h885-iv1"></td>					 
						<td class="text-left"><h4 style="font-size:2vw;">AAs a secretariat division member</h4></td>
					</tr>
									
					<tr>
					  <th scope="row"></th>
						<td><img class = "img-fluid" src = "https://lh3.google.com/u/0/d/1PSi9Bdot9PY1IB4VMoLjjwqNoPvB_IKI=w970-h885-iv1"></td>					 
						<td class="text-left"><h4 style="font-size:2vw;">As a syiar departement member</h4></td>
					</tr>
									
					<tr>
						<th scope="row"></th>
						<td><img class = "img-fluid" src = "https://lh3.google.com/u/0/d/1sVASu1iJYREE2O2bWj_ZseqeRwBUkNSb=w970-h885-iv1"></td>
						<td class="text-left"><h4 style="font-size:2vw;">As an academic staff</h4></td>
					</tr>		
				</tbody>
			</table>
		</div>
		
	</body>
</html>