{% load static %}
<!DOCTYPE html>

<html>
	<head>
		<meta charset = "utf-8" name = "viewport" content = "width = device-width, initial-scale = 1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'cssQ.css' %}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<title>adeliaut</title>
	</head>
	
	<body>
		<div class ="bg"></div>
		
		<header>
			{% block content %} {% endblock %}
		</header>
			{% include 'navbar.html' %}
		
		<div class="table-responsive wrapper-2">
			<h2 class = "gap"><b>Guest Book</b></h2>
				<form class = "guest-book-padding guest-book-style">
				<div class="form-group row">
					<label for="formGroupExampleInput" class="col-sm-3 col-form-label"><b>Name</b></label>
					<div class="col-sm-4">
						<input type="text" class="form-control" placeholder="Enter your name">
					</div>
				</div>			
				
				<div class="form-group row">
					<label for="example-date-input" class="col-3 col-form-label"><b>Date</b></label>
					<div class="col-sm-4">
						 <input class="form-control" type="date" value="2018-09-20" id="example-date-input">
					</div>
				</div>			
				
				<div class="form-group row">
					<label for="formGroupExampleInput" class="col-sm-3 col-form-label"><b>Email</b></label>
					<div class="col-sm-4">
						<input type="text" class="form-control" placeholder="Enter your email">
					</div>
				</div>			
				
				<div class="form-group row">
					<label for="formGroupExampleInput" class="col-sm-3 col-form-label"><b>Subject</b></label>
					<div class="col-sm-4">
						<input type="text" class="form-control" placeholder="Enter your message subject">
					</div>
				</div>			
				
				<div class="form-group">
					<label for="exampleFormControlTextarea1"><b>Message</b></label>
					<div class="col-sm-7">
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Enter your message"></textarea>
					</div>
				</div>
				
				<button ctype="submit" class="btn btn-primary">Submit</button> 
			</form>
		</div>
		
	</body>
</html>