{% load static %}
<!DOCTYPE html>

<html>
	<head>
		<meta charset = "utf-8" name = "viewport" content = "width = device-width, initial-scale = 1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'cssQ.css' %}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<title>adeliaut</title>
	
	<body>
		<div class ="bg"></div>	
		
		<header>
			{% block content %} {% endblock %}
		</header>
			{% include 'navbar.html' %}

		<div class = "wrapper-home">
			<div>
				<h1><b>Welcome to My Website!</b></h1>
			</div>	
			<img class = "img-home img-fluid"src="https://lh3.google.com/u/0/d/1fo0QsAeJB_9AxBaAwSfsEXbF5OyR9btE=w1087-h915-iv1">
			<img class = "img-home img-fluid"src="https://lh3.google.com/u/0/d/1cPWsxcL15EF4uIaNMHvJeFWKlXPGxl2j=w1087-h915-iv1">
			<img class = "img-home img-fluid"src="https://lh3.google.com/u/0/d/1jl0UMUo_sJ1QvqVTKA8ueWhiLFXLmhhh=w1087-h891-iv1">
		</div>

	</body>
</html>