{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light navbar-style">
	<button class="navbar-toggler" type="button" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="home.html"><b>HOME</b></a>
			<a class="nav-item nav-link" href="aboutme-education.html"><b>ABOUT ME</b></a>
			<a class="nav-item nav-link" href="aboutme-education.html"><b>EDUCATION</b></a>
			<a class="nav-item nav-link" href="experience-skill.html"><b>EXPERIENCE</b></a>
			<a class="nav-item nav-link" href="experience-skill.html"><b>SKILL</b></a>
			<a class="nav-item nav-link" href="contact.html"><b>CONTACT</b></a>
			<a class="nav-item nav-link" href="guestbook.html"><b>GUEST BOOK</b></a>
			<a class="nav-item nav-link" href="{% url 'updateschedule' %}"><b>FILL SCHEDULE</b></a>
			<a class="nav-item nav-link" href="{% url 'updateschedulelist' %}"><b>SCHEDULE</b></a>
		</div>
	</div>
</nav>

{% endblock %}