{% load static %}
{% include 'navbar.html' %}

<head>
	<meta charset = "utf-8" name = "viewport" content = "width = device-width, initial-scale = 1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'cssQ.css' %}">
	<title>adeliaut</title>
</head>

{% block title %}
	<br>
	<h2><center><b>Schedule</b></center></h2>
{% endblock title %}

{% block content %}
	<form action='schedulelist.html' method='POST'>
		{% csrf_token %}
		{{ form.as_p }}
		<br />
		<button type='submit' class='btn'>Submit</button>
	</form>
{% endblock %}