{% load static %}
{% include 'navbar.html' %}

<head>
	<meta charset = "utf-8" name = "viewport" content = "width = device-width, initial-scale = 1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'cssQ.css' %}">
	<title>adeliaut</title>
</head>

{% block title %}
<br>
<h2><center><b>Schedule</b></center></h2>
{% endblock title %}

{% block content %}
<div class="main-div">
	<div class="container mx-auto d-block">
		{% if schedules %}
			<table class="table table-hover table-striped" align="center" style="text-align: center">
				<thead>
					<tr>
						<th scope="col">Time</th>
						<th scope="col">Activity</th>
						<th scope="col">Place</th>
						<th scope="col">Category</th>
					</tr>
				</thead>
				
				{% for data in schedules %}
					<tr>
						<td scope="row">{{ data.time|date:"l" }}, {{ data.time }}</td>
						<td scope="row">{{ data.activity }}</td>
						<td scope="row">{{ data.place }}</td>
						<td scope="row">{{ data.category }}</td>
					</tr>
				{% endfor %}
			</table>
			
			<form action="{% url 'deleteall' %}">
				{% csrf_token %}
				<button type='submit='btn'>Detele All</button>
			</form>
		
		{% else %}
			<h4 class="text-main"><center>---No Schedule---</center></h4>
		{% endif %}
	</div>
</div>
{% endblock content %}
