/* source:
 * stackoverflow.com
 * w3school.com
 * getbootstrap.com 
 */

.bg {
	background-image: url("https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 120%; height: 120%;
	position: fixed;
	top: 0; left: 0;
	opacity: 0.4;
	z-index: -1;
}

.navbar-style {
	background-color: #B8977E;
	font-family:helvetica;
	height: 45px;
}

.wrapper-home {
	width: 100%;
}

.wrapper-1 {
	width: 100%;
}

.wrapper-2 {
	width: 100%;
}

.wrapper-3 {
	width: 100%;
}

.contact {
	width: 100%;	
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.about-me {
	width: 100%;	
}

.about-me h2 {
	padding: 30px 30px 20px;
	font-family: helvetica; font-size: 32px;	
	line-height: 40px;
}

.about-me p {
	padding: 0px 30px 20px;
	font-family: helvetica; font-size: 24px;	
	line-height: 38px;
}

.img-home{
	width: 100%;
	height: 100%;
}
.img-about-me {
	width: 100%;
	height: 100%;
}

.img-contact {
	width: 100%;
	height: 100%;
}

@media only screen and (min-width: 768px) {
	.wrapper-home {
		width: 600px;
		margin: 0 auto;
	}
	
	.wrapper-1 {
		width: 600px;
		margin: 0 auto;
	}
	
	.wrapper-2 {
		width: 600px;
		margin: 0 auto;
	}	
	
	.wrapper-3 {
		width: 600px;
		margin: 0 auto;
	}
	
	.about-me h2 {
		padding: 20px 0px 0px;
	}

	.about-me p {
		padding: 20px 0px 0px;
	}
	
	.img-home {
		padding-top: 100px;
	}			
	
	.img-about-me {
		padding-top: 100px;
	}		
	
	.img-contact {
		padding-top: 100px;
	}	
}
	
@media only screen and (min-width: 1080px) {
	.wrapper-home {
		width: 1080px;
		padding: 20px 0px 0px 0px;
	}	
	.wrapper-1 {
		width: 1080px;
	}
	
	.wrapper-2 {
		width: 1080px;
		padding: 50px 0px 0px 10px;
	}
			
	.wrapper-3 {
		width: 1080px;
		padding: 30px 80px 40px 80px;
	}
	
	.contact {
		width: 65%;
		float: left;
		padding: 250px 40px 0px 0px;
	}
	
	.about-me {
		width: 60%;
		float: right;
	}
	
	.about-me h2 {
		padding: 50px 0px 0px 0px;
	}

	.about-me p {
		padding: 10px 10px 0px 0px;
	}
	
	.img-about-me {
		padding-top: 0px;
		width: 35%;
		float: left;
	}				
	
	.img-home {
		padding-top: 0px;
		width: 33%;
		float: left;
	}			
	
	.img-contact {
		padding-bottom: 0px;
		width: 35%;
		float: right;
	}		
	
	.gap {
		padding-bottom: 25px;
	}
}

